@model BusBooking.Models.BusDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seatType.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seatType.typeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.busName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.busName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.busID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
