@model IEnumerable<BusBooking.Models.BusDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seatType.typeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th></th>
    </tr>
    @if(Model== null)
            {
<p>No Records</p>
            }
    else {
foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.seatType.typeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.busName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.source)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.time)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.busID }) |
        @Html.ActionLink("Details", "Details", new { id = item.busID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.busID })
    </td>
</tr>
}
    }
</table>
