@model BusBooking.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bid.busName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bid.busName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pup.pickUpPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pup.pickUpPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
