@model IEnumerable<BusBooking.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bid.busName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pup.pickUpPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.customerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fare)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.bid.busName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pup.pickUpPlace)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.customerID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateStamp)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.source)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fare)
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
